@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
        
}

body > .container {
    height: auto;
}

a {
    text-decoration: none;
}

header {
}

main {
}

footer {
    text-align: center;
    padding-top: 20px;
    margin-top: 10px;
    border-top: 2px solid gray;
}

.container {
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    padding:10px;
    text-align: center;
    font-size: 16px;
    width: 90%;
    max-width: 840px;
}

h1 {
    font-size: 22px;
}

h2 {
    border-top: 2px solid gray;
    font-size: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

h3 {
    border-top: 1px dotted gray;
    margin-top: 10px;
    padding-top: 10px;
}

.h3_explain {
    border-top: none;
    border-bottom: 2px dotted gray;
    border-left: 5px solid gray;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 30px;
    padding-bottom: 5px;
}

.btn1 {
    margin: 10px;
    padding: 5px;
    border : 1px solid gray;
    background: #fcfcfc;
    display: inline-block;
    box-shadow: 0px 3px gray;
}
.btn2 {
    margin: 10px;
    padding: 5px;
    border : 1px solid gray;
    background: #fcfcfc;
    display: inline-block;
    box-shadow: 0px 3px gray;
}
.btn3 {
    margin: 10px;
    padding: 5px;
    border : 1px solid gray;
    background: #fcfcfc;
    display: inline-block;
    box-shadow: 0px 3px gray;
}

.btn3:hover {
    opacity: 0.5;
}

.btn3:active {
    position: relative;
    box-shadow: none;
    top: 2px;
}

.btn1:hover {
    opacity: 0.5;
}

.btn1:active {
    position: relative;
    box-shadow: none;
    top: 2px;  
}
.btn2:hover {
    opacity: 0.5;
}

.btn2:active {
    position: relative;
    box-shadow: none;
    top: 2px;  
}

.main_area1 {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}
.main_area2 {
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

div.hune_jouhou {
    border: 2px solid blue;
    padding: 10px 20px 0;
    margin: 10px;
    border-radius: 10px;
}

div.hokenryou {
    margin: 0 auto;
    width: 250px;
    text-align: right;
    padding-right: 20px;
}
div.hokenryou_center {
    margin: 0 auto;
    text-align: center;
}

/*リストデザイン0*/
ul.list0 , ol {
    background: #fcfcfc;/*背景色*/
    padding: 0.5em 0.5em 0.5em 2em;/*ボックス内の余白*/
    border: solid 3px gray;/*線の種類 太さ 色*/
    width: 200px;
    margin: 20px auto;
    list-style: none;
    text-align: center;
    font-size: 0px;
}

ul.list0 li, ol.list0 li {
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
    font-size: 16px;
}

/*リストデザイン1*/
ul.list1 {
    padding: 0;
    width: 70%;
    margin: 20px auto;
}

ul.list1 li, ol.list1 li {
    color: #404040;
    border-left: solid 6px #1fa67a;/*左側の線*/
    border-bottom: solid 2px #dadada;/*下に灰色線*/
    background: whitesmoke;
    margin-bottom: 5px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    font-weight: bold;
    text-align: left;
    }

/*リストデザイン2*/
ul.list2 {
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 170px;
}

ul.list2 li {
    color: black;
    position:relative;
    background: #f1f8ff;/*バーの色*/
    line-height: 1;
    padding: 0.5em;
    margin-bottom: 4px;
    border-left : solid 35px #5c9ee7;/*先の色＝アイコン裏の色*/
    list-style-type: none!important;
    margin-top: 10px;
}

ul.list2 li:before {
    font-family: FontAwesome;
    content: "\f040";
    position: absolute;
    display: block;
    padding: 0.5em;
    width: 1.2em;
    color: white; /*アイコン色*/
    font-weight: normal;/*アイコンは太字にしない*/
    text-align: center;
    left : -35px; /*左端からのアイコンまでの距離*/
    /*以下 上下中央寄せのため*/
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*font-awesomeアイコン*/
.fa {
    margin-right: 10px;
}

/*例えば*/
.example {
    color: red;
    padding-top: 15px;
}

/*説明*/
.explain {
    text-align: left;
    width: 90%;
    margin: 0px auto 15px;
}